@font-face {
  font-family: Vazir;
  src: url("font/Vazir.eot");
  src: url("font/Vazir.eot?#iefix") format("embedded-opentype"),
    url("font/Vazir.woff") format("woff"),
    url("font/Vazir.ttf") format("truetype");
  font-weight: normal;
}

:root {
  --blue: #0275d8;
  --darkblue: #0063b9;
}

body {
  direction: rtl;
  margin: 0;
  font-family: Vazir, sans-serif;
}

/* Header */

.header {
  height: 150px;
}

.header img {
  margin: 15px 20px 0 0;
  float: right;
}

.info {
  float: right;
  margin: 5px 20px 0 0;
  width: 50%;
  font-size: 20px;
}

.info h3 {
  margin: -14px 0;
}

.auth {
  float: left;
  margin: 35px 0 0 10px;
}

.auth a {
  font-size: 25px;
  text-decoration: none;
  background-color: var(--blue);
  color: white;
  padding: 10px 20px;
  margin: 0 0 0 15px;
  border-radius: 10px;
}

.auth a:hover {
  background-color: var(--darkblue);
}

.clearfix {
  clear: both;
}

/* Menu */

.menu {
  background-color: var(--blue);
  height: 50px;
}

.menu ul {
  margin-right: 60px;
}

.menu ul li {
  display: inline-block;
  font-size: 22px;
  padding-left: 30px;
  padding-top: 8px;
}

.menu ul li a {
  text-decoration: none;
  color: white;
}

.menu ul li a:hover {
  color: #e6e6e6;
}

.content {
  width: 70%;
  height: 1300px;
  background-color: white;
  box-shadow: 0 1px 0.8em #0000003b;
  margin: 50px 20px 0 0;
  float: right;
}

.sidebar {
  width: 23%;
  height: 1300px;
  background-color: white;
  box-shadow: 0 1px 1em #0000003b;
  margin: 50px 30px 0 0;
  float: right;
}
